asgiref==3.11.0
django-axes==8.3.1
django-otp==1.7.3
crispy-bootstrap5==2025.6
Django==5.2.8
django-crispy-forms==2.5
httpx[http2]==0.28.1
mysqlclient==2.2.7
networkx==3.7
pysmiles==2.1.0
python-decouple==3.8
qrcode==8.2
sqlparse==0.5.3
tzdata==2025.2
