{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h1 class="mb-4">🔑 Iniciar Sesión</h1>
        
        <div class="card shadow">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    {{ form.username|as_crispy_field }}
                    {% include 'partials/password_toggle.html' with field=form.password with_script=True %}

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            Nombre de usuario o contraseña incorrectos. Por favor, inténtelo de nuevo.
                        </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary mt-3 w-100">
                        Ingresar
                    </button>
                    <hr>
                    <a href="{% url 'registro' %}" class="btn btn-outline-info w-100">
                        Crear una cuenta nueva
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}